/* Challenge styles
-------------------------------------------------- */
@keyframes glitch {
  0% {
    transform: translate(0);
  }
  20% {
    transform: translate(-5px, 5px);
  }
  40% {
    transform: translate(5px, -5px);
  }
  60% {
    transform: translate(-5px, 5px);
  }
  80% {
    transform: translate(5px, -5px);
  }
  100% {
    transform: translate(0);
  }
}
.challenge-desc {
  overflow-wrap: anywhere;

  img {
    max-width: 100%;
  }
}

.challenge-button {
  box-shadow: 3px 3px 3px var(--bs-secondary);
}

.challenge-solved {
  background-color: #4fe7ec !important;
  opacity: 0.6;
  border: none;
  animation: glitch 1s infinite;
}
