/* Jumbotron styles
-------------------------------------------------- */

// Move down content because we have a fixed navbar that is 3.5rem tall
main {
  padding-top: 3.5rem;
}

.jumbotron {
  padding: 2rem 1rem;
  margin-bottom: 2rem;
  text-align: center;

  background-color: #333;
  color: #8f8;
  font-family: 'Courier New', Courier, monospace;
  position: relative;
  
}
.jumbotron::after {
  content: '|';
  animation: blink-cursor 0.75s step-end infinite;
  position: absolute;
  right: 10px;
}

@keyframes blink-cursor {
  from, to { color: transparent }
  50% { color: #8f8 }
}

@media (min-width: 576px) {
  .jumbotron {
    padding: 4rem 2rem;
  }
}

// @media (min-width: 768px) {
//   .jumbotron {
//     // I kind of like this, but it could be discussed
//     clip-path: polygon(0 0, 100% 0, 100% 90%, 0% 100%);
//   }
// }
